@charset "utf-8";
/* CSS Document */
.yhcx{ width:780px; height:60px; padding:5px 0px; background-color:#f2f2f2; border:1px #cccccc solid; float:left;}
.input_001{ width:150px; height:20px; line-height:20px; border:1px #b6c0c9 solid; }
.liebiao{ width:900px; height:auto;margin-top:20px; background-color:#FFFFFF; float:left; }
.yema{ width:900px; height:30px; text-align:right; background-color:#FFFFFF; float:left;}
